.list-page{
	.item.item-icon-right{
		.icon.color-box{
			display: inline-block;
			width: 6px;
			right: 0px;
		}
	}

	.scroll-wrapper{
		overflow:hidden;
		position:relative;
		top:0px;
		bottom:0px;
			width: 100%;
		.scroller{
		}
	}
	
}
