div(id='main-container')
  
  //- Nav bar
  div(class='bar bar-header bar-stable js-menu')
    div(class='mask header')
    button(class='js-show-left-menu button button-icon icon ion-navicon')
    h1(class='title') Diaries

  //- Main content
  div(id="main-content" class="pane")

  //- ??? I think this is an overlay
  div(class='mask main')