div(id='left-menu' class='js-side-menu')
  
  div(class='bar bar-header bar-stable')
    h1(id='left-title' class='title')

  div(class='list stable')
    ul(class='list')
      li(class='js-settings item item-icon-left')
        i(class='icon ion-gear-b') Settings
        // span(class="item-note") Settings

      li(class="js-upload item item-icon-left")
        i(class="icon ion-code-working") Data sync
        // span(class="item-note") Sync to a server


      li(class="js-code-manager item item-icon-left")
        i(class="icon ion-search") Coded fields
        // span(class="item-note") Manage coded fields

      li(class="js-geolocation-viewer item item-icon-left")
        i(class="icon ion-pinpoint") Geolocation viewer
        // span(class="item-note") Manage coded fields